@import "tailwindcss";

/* Əsas carusel */
.custom-swiper-main .swiper-pagination-bullet {
  width: 70px;
  height: 10px;
  border-radius: 6px;
  background: transparent;
  border: 1px solid #d1d5db;
}
.custom-swiper-main .swiper-pagination-bullet-active {
  background: #fb923c;
}
.custom-swiper-main .swiper-slide img {
  height: 400px;
  object-fit: cover;
  width: 100%;
}

/* Sale carusel */
.custom-swiper-sale .swiper-pagination-bullet {
  width: 40px;
  height: 8px;
  border-radius: 4px;
  background: transparent;
  border: 1px solid #d1d5db;
}
.custom-swiper-sale .swiper-pagination-bullet-active {
  background: #fb923c;
}
.custom-swiper-sale .swiper-slide img {
  height: 200px;
  object-fit: cover;
  /* width: 100%; */
}